@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');    /* Imported box-icon  */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  top: 0;
  left: 0;
}
.loginPage{
  height: 100vh;
  background-image: url(./img/login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  padding-left: 7%;
}
.loginn{
  position: absolute;
  padding: 7px;
  display: flex;
}
.loginn span{
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  background-color: #dbdbdb;
  img{
    width: 40px;
  }
}
.loginSection{
  height: 280px;
  width: 350px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 10px 10px 15px .5px;
  background-color: rgba(0, 49, 104, 0.9);
  position: relative;
}
.loginHeading{
  padding: 15px 0px;
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 25px; */
}
.inputs{
  width: 75%;
  height: 35px;
  padding: 0px 7px;
  margin-top: 20px;
  background-color: #ccc;
  border-radius: 7px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  span{
    text-align: center;
    padding: 5px;
  }
  input{
    height: 100%;
    width: 80%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
  }
}
.togglePassword{
  i{
    font-size: 20px;
    color: gray;
    cursor: pointer;
  }
}
.buttonDiv{
  padding-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.loginButton {
  padding: 10px;
  width: 40%;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.loginButton:hover {
  background-color: #218838;
}

.dashboardSection{
  height: auto;
  width: 100vw;
}
.dashboardPage{
  height: 100vh;
  width: 100vw;
  background-image: url(./img/dashboardImage.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: fixed;
}
nav{
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  padding-top: 10px;
}
.nav{
  display: flex;
  /* border: 1px solid red; */
  border-radius: 35px;
  width: 80%;
  background-color: rgba(230, 230, 230, 0.95);
  box-shadow: 3px 4px 10px 1px rgb(150, 208, 232);
}
.nav1{
  width: 25%;
  display: flex;
}
.brandName{
  font-size: 35px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.nav2{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7px;
  gap: 25px;
}
.link{
  text-decoration: none;
  color: rgb(40, 40, 40);
  transition: .2s;
}
.link:hover{
  color: rgb(80, 80, 80);
  text-decoration: underline;
}
.link:active{
  scale: .9;
}
.nav3{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  button{
    padding: 9px 17px 9px 17px;
    background-color: red;
    border: 1px solid black;
    border-radius: 7px;
    font-size: 15px;
    cursor: pointer;
    transition: .3s;
  }:hover{
    background-color: rgb(255, 90, 90);
  }:active{
    background-color: rgb(177, 0, 0);
    scale: .8;
  }
}
.dashboard{
  width: 40%;
  margin-top: 100px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.part1{
  color: white;
  font-weight: bold;
  font-size: 55px;
}
.part2{
  color: rgb(121, 192, 255);
  font-weight: bold;
  font-size: 70px;
  text-shadow: 1px 1px 5px white;
}

.add_new_user_section{
  display: flex;
  width: 100vw;
  height: 100vh;
}
.add_user_part1{
  width: 50%;
  background-color: rgb(47, 151, 192);
}
.add_user_part2{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  img{
    width: 90%;
    /* border: 1px solid red; */
    border-top-left-radius: 50%;
    box-shadow: -7px -7px 6px 1px white;
  }
}
.addUserPage{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addUserSection{
  height: 60%;
  width: 60%;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 10px 10px 15px .5px;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
}
.addUserButton{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  button{
    padding: 10px 35px 10px 35px;
    border-radius: 7px;
    font-size: 17px;
    border: 1px solid black;
    cursor: pointer;
    transition: .4s;
  }:active{
    scale: .9;
  }
}

.allUsersSection{
  min-height: 100vh;
  width: 100vw;
  background-color: rgb(123, 173, 255);
  position: fixed;
}
.usersSection{
  margin-top: 100px;
}
.allUsersHeading{
  text-align: center;
}
.dataTable{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  scrollbar-width: none;
}
.dataTable table{
  /* width: 90%; */
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 7px;
  /* overflow: hidden; */
}
.dataTable th, .dataTable td {
  min-width: 100px;
  text-align: center;
  padding: 12px 30px 12px 30px;
  border: 1px solid #ddd;
}
.dataTable td input{
  height: 100%;
  width: 60%;
  padding: 12px 30px 12px 30px;
  text-align: center;
  background-color: transparent;
}
.selectRole{
  /* border: none; */
  outline: none;
  background-color: transparent;
}
.dataTable th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}
.dataTable td{
  cursor: pointer;
}
.editButton, .deleteButton, .saveButton, .cancelButton{
  padding: 7px 10px 7px 10px;
  margin: 0px 5px;
  border-radius: 4px;
  border: none;
  outline: none;
  transition: .3s;
}
.editButton:active, .saveButton:active, .cancelButton:active{
  scale: .9;
}
.missingPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img{
    width: 555px;
  }
  h1{
    font-size: 90px;
    margin-top: -50px;
  }
}











@media (max-width: 480px) {

  .nav{
    border-radius: 18px;
    width: 96%;
  }
  .nav1{
    width: 25%;
    padding-left: 10px;
    img{
      width: 35px !important;
    }
  }
  .brandName{
    font-size: 16px;
  }
  .nav2{
    font-size: 13px;
    width: 50%;
    gap: 15px;
  }
  .nav3{
    width: 25%;
    button{
      padding: 5px 10px 5px 10px;
      font-size: 10.5px;
    }
  }
  .dashboard{
    width: 100vw !important;
    padding: 0px !important;
  }
  .part1{
    font-size: 35px;
  }
  .part2{
    font-size: 45px;
  }


  
  .allUsersHeading{
    font-size: 25px;
  }
  .dataTable{
    justify-content: start;
  }
  .dataTable th, .dataTable td {
    min-width: 75px;
    text-align: center;
    padding: 12px 30px 12px 30px;
    border: 1px solid #ddd;
  }
  .dataTable td input{
    height: 80% !important;
    width: 50%;
    padding: 12px 30px 12px 30px;
    text-align: center;
    background-color: transparent;
  }
  .editButton{
    padding: 6px 20px 6px 20px;
  }
  .editButton, .deleteButton, .saveButton, .cancelButton{
    padding: 7px 9px 7px 9px;
    font-size: 11px;
  }



  .add_user_part1{
    width: 100%;
  }
  .add_user_part2{
    display: none;
  }
  .addUserPage{
    height: 90vh;
  }
  .addUserSection{
    height: 39%;
    width: 85%;
  }
  .addUserButton{
    button{
      padding: 8px 25px 8px 25px;
    }
  }  

  .missingPage{
    img{
      width: 222px;
      margin-top: 20vh;
    }
    h1{
      font-size: 44px;
      margin-top: 50px;
    }
  }
}